/* font-family: 'Amatic SC', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive; */

/* generales */

body,
html {
    display: flex;
    flex-direction: column;
    height: 100%;

}
body::-webkit-scrollbar {
    width: 0;
}

#root {
    background-color: #0F0E0E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
}

/* titulo */

.inicio {
    background-color: transparent;

}

.nombreInicio {
    font-size: 3.3rem;
    font-family: 'Roboto', sans-serif;
}

/* barrita nav */

.links{
    text-decoration: none;
}

#nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    left: 0;
    top: 1%;
    padding: auto 5%;
    align-items: center;
}

#divNav {
    width: 90%;
}

#Carde {
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

#Carde:hover {
    color: rgba(137, 207, 230, 0.736);
}

#Inicio, #Otros, #link2 {
    color: white;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;

}

#Inicio:hover, #Otros:hover, #link2:hover {
    color: rgba(137, 207, 230, 0.736);
}


#navbarNavDropdown{
    justify-content: right;
}
